# RuntimeError: Install Flask with the 'async' extra in order to use async views.
flask[async]
# This must match the container version in the Dockerfile
pytest-playwright==0.4.3
discord-webhook
Flask-APScheduler
# https://sebhastian.com/python-no-module-named-yaml/
pyyaml
tradingview-screener
pandas