<html>
    <head>
        <title>Finance Notifier</title>
        <meta property="og:title" content="David's Finance Notifier" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="David's Finance Notifier support quick access finance chart and easy get their screenshot." />
    </head>

    <body>
        <h1>Finance Notifier</h1>
        <p>David's Finance Notifier support quick access finance chart and easy get their screenshot.</p>
        <ul>
            <li>TradingView Advanced Chart <a href="/widget/tradingview_advanced_chart" target="_blank">Widget</a> <a href="/screenshot/tradingview_advanced_chart" target="_blank">Screenshot</a></li>
            <li>TradingView Technical Analysis <a href="/widget/tradingview_technical_analysis" target="_blank">Widget</a> <a href="/screenshot/tradingview_technical_analysis" target="_blank">Screenshot</a></li>
        </ul>
    </body>
</html>